{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="This is a lab assignment showcasing CRUD capabilities using Django">
    <meta name="keywords" content="django, crud, lab">
    <!-- Bootstrap CSS and JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <!-- Our CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Whereas chromium based browsers seem to handle 'graceful degradation' ordering of icons as expected, Safari and FF seem to prefer x-icon (*.ico) as long as it's present, or the first one they can render when it's not present. So alas with a little repetition, we are able to render the transparent bg circular logo on all major browsers in this way -->
    <link rel="icon" href="{% static 'images/favicon32.png' %}" type="image/png">
    <link rel="icon" href="{% static 'images/favicon32.webp' %}" type="image/webp">
    <link rel="icon" href="{% static 'images/favicon32.png' %}" type="image/png">
    {% block head %}{% endblock head %}
    <title>Finch Collector</title>
  </head>
  <body>
    <header class="navbar navbar-expand-lg navbar-light bg-light-blue fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand px-2 h1" href="{% url 'finches:home' %}">
          <img class="img-fluid"
               alt="brand logo"
               height=""
               width=""
               src="{% static 'images/color_logo256.svg' %} ">
        Finch Collector</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            {% url 'finches:about' as c_url %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == c_url %}active{% endif %}"
                 href="{{ c_url }}">About</a>
            </li>
            {% url 'finches:create_toy' as c_url %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == c_url %}active{% endif %}"
                 href="{{ c_url }}">Add a Toy</a>
            </li>
            {% url 'finches:toys' as c_url %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == c_url %}active{% endif %}"
                 href="{{ c_url }}">View All Toys</a>
            </li>
            {% url 'finches:create' as c_url %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == c_url %}active{% endif %}"
                 href="{{ c_url }}">Add a Finch</a>
            </li>
            {% url 'finches:index' as c_url %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == c_url %}active{% endif %}"
                 href="{{ c_url }}">View All Finches</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <main class="container mt-6 mt-xs-7 mb-5 pt-2 pb-2 position-relative">
      {% block content %}
      {% endblock content %}
    </main>
    <footer class="d-flex justify-content-between py-1 border-top fixed-bottom bg-light-blue">
      <div class="ms-auto">All Rights Reserved, © 2023 Finch Collector &nbsp;</div>
    </footer>
  </body>
</html>
