:root{
    --light-blue: #e3f2fd;
    --lighter-blue: #f2f7fc;
    --hover-fx-transition-duration: ease-in-out 0.15s;
}

.bg-light-blue{
    background-color: var(--light-blue);
}

.hover-effect:hover{
    background-color: var(--lighter-blue);
    box-shadow: inset;
    transition: all var(--hover-fx-transition-duration)
}

.hover-effect{
    background-color: inherit;
    box-shadow: none;
    transition: all var(--hover-fx-transition-duration)
}

.translate-y-50{
    transform: translateY(50%);
}

.btn-light-blue{
    background-color: var(--lighter-blue) !important;
    box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,.175)!important;

}

.btn-light-blue:hover{
    background-color: var(--light-blue) !important;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.175)!important;
}