{% extends 'base.html' %}
{% block content %}
  <div class="container d-flex justify-content-center">
    <div class="card shadow-sm mt-5">
      <div class="card-content">
        <div class="card-body">
          <div class="card-title">
            {% if object %}
              <h1>Edit <span class="text-success">{{ object.name }}</span></h1>
            {% else %}
              <h1>Add Finch</h1>
            {% endif %}
          </div>
          <form action="" method="post">
            {% csrf_token %}
            <table>{{ form.as_table }}</table>
            <div class="float-end">
              <input class="btn btn-success mt-2 mb-2" type="submit" value="Submit" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
