{% extends 'base.html' %}
{% block content %}
  {% for finch in finches %}
  <a class="link-dark nav-link" href="{% url 'finches:detail' finch.id %}">
    <div class="card mt-2 shadow-sm">
      <div class="card-body hover-effect">
        <div class="card-title h3">{{ finch.name }}</div>
        <div class="card-subtitle text-muted">
          <p>
            {% if finch.age > 0 %}
              {{ finch.age }}&nbsp;year{{ finch.age|pluralize }} old
            {% else %}
              Chick
            {% endif %}
          </p>
        </div>
        <p class="card-text">
          <strong>Breed:</strong> {{ finch.breed }} <br />
          <strong>Description:</strong> {{ finch.description }}
        </p>
      </div>
    </div>
  </a>
  {% endfor %}
{% endblock %}
